@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    color: var(--dark-gray-blue);
    font-size: 18px;
}

/* -------------------------------------------------------------------------- */
/*                                   SUMMARY                                  */
/* -------------------------------------------------------------------------- */
.summary {
    padding: 1.6rem;
}

.summary h2 {
    font-size: 1.2rem;
    margin-bottom: 1.7rem;
}

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1.1rem;
}



.category .score {
    font-weight: bold;
}

.category_legend {
    display: flex;
    align-items: center;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.07);
}

.reaction .legend {
    color: var(--light-red);
    margin-left: .5rem;
}
.memory {
    background-color: hsl(39, 100%, 56%, .07);
}

.memory .legend {
    color: var(--orangey-yellow);
    margin-left: .5rem;
}
.verbal {
    background-color: hsla(166, 100%, 37%, 0.079);
}

.verbal .legend {
    color: var(--green-teal);
    margin-left: .5rem;
}
.visual {
    background-color: hsla(234, 85%, 45%, 0.07);
    margin-bottom: 2rem;
}

.visual .legend {
    color: var(--cobalt-blue);
    margin-left: .5rem;
}

button.cta {
    width: 100%;
    font-size: 1.1rem;
    background-color: var(--dark-gray-blue);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 1.5rem;
    color: var(--pale-blue);
}

button.cta:hover {
    
}